body{
    background-image: url("background.jpg");
}

.form-container{

    width: 350px;
    text-align: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 50px;
    margin-left: 100%;
}

.credential-container{
    text-align: left;
}

.title-container{

    margin-bottom: 10px;


}

.email{
    margin: 10px;
}

.password{
    margin: 10px;
}

.image{
    padding: 0;
    height: 100px;
}