


.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.lista-profile,li{
    margin: 50px 0;
}

#cambiar-clave{
    visibility: hidden;
}

.formulario-perfil{
    display: block;
    margin-bottom: 20px;
}

.fieldset-formulario{
    text-align: center;
    padding: 30px 0;
}

.etiquetas-formulario{
    margin: 10px 30px;
}