.login-container{

    width: 350px;
    text-align: center;
    /* background-color: white; */
    border: 1px solid gray;
    border-radius: 5px;
    padding: 50px;
    /* margin-left: 100%; */
    
}

.login-container > .credential-container > .credential-container{
    text-align: left;
}

.login-container > .credential-container > .title-container{

    margin-bottom: 10px;


}

.login-container > .credential-container > .email{
    margin: 10px;
}

.login-container > .credential-container > .password{
    margin: 10px;
}

.login-container > .credential-container > .image{
    padding: 0;
    height: 100px;
}

.login-container{
    background-color: white;
}