.register-container{
    background-color: white;
    width: 600px;
    text-align: center;
    /* background-color: white; */
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    /* margin-left: 100%; */
    
}

.personal-information{
    display:inline-block;
    margin: 10px;
}

.credential-information{
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
    display: inline-block;
}
