

.contenedor{
    width: 95%;
    max-width: 1200px;
    margin: 30px auto;
}

.contenido-inventario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cuadro-inventario{
    -webkit-box-shadow: 0px 0px 33px 0px rgba(184,71,71,1);
    -moz-box-shadow: 0px 0px 33px 0px rgba(184,71,71,1);
    box-shadow: 0px 0px 33px 0px rgba(184,71,71,1);

    border-radius: 20px;
}

.menu-inventario{
    margin: 40px 20px;
    background-color: rgb(253, 196, 196);
    max-width: 260px;
    border-radius: 10px;
}

.boton-inventario{
    width: 100%;
    margin: 10px 0px;
    background-color: rgb(253, 196, 196);
    border: none;
}

.boton-inventario:hover{
    cursor: pointer;
    background-color: brown;
    color: white;
}

.inventario-card{
    
}

.perfil-footer{
    position: fixed;
    bottom: 0;
}

#agregarpiñata, #modificarpiñata, #eliminarpiñata, #inventarioactual{
    display: none;
}