.container-title h1{
    color: brown;
    background-color: white;
    display: block;
    margin: 0;
    text-align: center;
}

.container-nav{
    text-align: center;
    background-color: white;

}

.container-nav > .nav-link{
    display: inline-block;
    text-align: center;
}

.nav-link{
    color: black;
    padding: 10px;
    text-align: center;
}