.button-container{

}

.button{

    width: 60%;
    margin-top: 25px;
    background-color: #FFCA00;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    border: 2px solid #240D00;
    border-radius: 5px; 

}