


.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.lista-profile,li{
    margin: 50px 0;
}

#cambiar-clave{
    visibility: hidden;
}

.formulario-perfil{
    margin-bottom: 20px;
}

.fieldset-formulario-clave{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    padding: 30px 0;
}

.fieldset-formulario{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
    padding: 30px 0;
}

.etiquetas-formulario{
    margin: 10px 30px;
}

.altura{
    max-height: 30px;
}